using std
using eel


crate stitching
   module sticher eel.WRTimeEventStitcher(2,100) # 1us window, new_procid=SSID*100+procid
end 

for $SSID1 in 300 400
   crate ssid_$SSID1
      procid {$SSID1+1} # SSID + procid from original event
      module wr_time eel.WRTime
   end
end


for $SSID1 in 300 400
   for $SSID2 in 300 400
      processor anl/timestamp_difference_$SSID1_$SSID2 std.calc(dT=(T2_high-T1_high)*4294967296+(T2_low-T1_low))
         T1_low  <- ssid_$SSID1.wr_time.low
         T1_high <- ssid_$SSID1.wr_time.high
         T2_low  <- ssid_$SSID2.wr_time.low
         T2_high <- ssid_$SSID2.wr_time.high 
         histogram dT 20000,-10000,10000  in timestamp_difference
      end 
   end 
end






crate kinpex0
	procid 301
	module wr_time     eel.WRTime
	module tamex0         eel.TAMEX(0,0)
	for $i in [0:1]
		module febex$i      eel.FEBEX34(1,$i)
	end
#    for $i in [0:1]
#		module clktdc$i            eel.CLKTDC(2,$i,boxdiagrams) 
#	end
	 module febex4      eel.FEBEX34(3,0)
end


######## sample of vulom scaler payload:
#-X86L-158:transport  :      0: 00000400 03e10000 04e10000 05e10000 06e10000 
#-X86L-158:transport  :      5: c1000000 f5000022 00000000 00000008 00abcd02 
#-X86L-158:transport  :     10: 00abcd03 00abcd04 00abcd05 00abcd06 00abcd07 
#-X86L-158:transport  :     15: 00abcd08 00abcd09 00abcd0a 00abcd0b 00abcd0c 
#-X86L-158:transport  :     20: 00abcd0d 00abcd0e 00abcd0f 00abcd10 1f471658 
#-X86L-158:transport  :     25: 0fa38b2d 07d1c596 03e8e2cb 01f47165 00fa38b3 
#-X86L-158:transport  :     30: 007d1c5a 003e8e2d 001f4716 000fa38b 0007d1c5 
#-X86L-158:transport  :     35: 0003e8e3 0001f471 0000fa39 00007d1c 00003e8e 
#-X86L-158:transport  :     40: 00000000 


crate mvlc
   procid 401
   module wr_time     eel.WRTime
   module marker     std.single32bit
   module stackhead  std.single32bit
   module dummy      std.single32bit
   module count      std.single32bit
   #module testpattern std.multiple32bit(15)
   for $i in [0:14]
      module testpattern$i      std.single32bit
   end
   
   for $i in [0:16]
      module scaler$i      std.single32bit
   end
end

processor mv/scaler  std.tuple(registers[17],patterns[15],time,fval) 
#   time <- anl/timestamp_difference_400_300.dT
    time <- event.time
   for $i in [0:16]
      registers[$i]  <-  mvlc.scaler$i[0]      
   end
   for $i in [0:14]
      patterns[$i]  <-  mvlc.testpattern$i[0]      
   end
   
   fval <-  mvlc.count[0]
   histogram registers 65536,0,4292967295 in values
#  histogram patterns 65536,0,4292967295 in patterns
   histogram patterns 200,11259000,11259200 in patterns
#   for $j in [0:15]
#      ratemeter registers[$j]:time in rates
#   end

  ratemeter fval:time in rates
   
end

#processor mv/scaler  std.tuple(registers[16])
#   for $i in [0:15]
#      registers[$i]  <-  mvlc.scaler$i[0]
#   end
#   histogram registers 65536,0,4292967295 in values 
#end


alias DO_CALIBRATION = 0

for $edge in leading trailing 
	processor cal/tamex_0/$edge eel.TAMEXcal
		parameter do_calibration = DO_CALIBRATION
		     fine[0:31] <- kinpex0.tamex0.$edge_fine[0:31]
		   coarse[0:31] <- kinpex0.tamex0.$edge_coarse[0:31]
		epoch_cnt[0:31] <- kinpex0.tamex0.$edge_epoch_cnt[0:31]
		histogram fine 1000,0,1000
		histogram multiplicity 32,0,32
		histogram fine:::fine                     300,0,600:300,0,600
		histogram smooth_fine_ps:::smooth_fine_ps 300,0,5000:300,0,5000
	end
end 
processor cal/tamex_0/trigger eel.TAMEXcal
	parameter do_calibration = DO_CALIBRATION
	     fine[0] <- kinpex0.tamex0.trigger_fine
	   coarse[0] <- kinpex0.tamex0.trigger_coarse
	epoch_cnt[0] <- kinpex0.tamex0.trigger_epoch_cnt
end



for $i in [0:1]
	processor febex/module$i std.tuple(trace[16],filter[16])
		trace[0:15]  <- kinpex0.febex$i[0:15].trace
		filter[0:15] <- kinpex0.febex$i[0:15].filter
		waveform  trace 200 persistent  in trace
		histogram trace 16384,0,16384   in resolution
	end
end

########################### CLOCKTDC below
#for $module in 0 1  
#	for $edge in leading trailing
#		processor cal/clktdc$module/$edge eel.CLKTDCcal
#			parameter do_calibration = 0
#			time_raw[0:128] <- kinpex0.clktdc$module.$edge[0:128]
#			waveform  cal_fine_table persistent 
#		end
#		processor cal/clktdc$module/box_$edge std.tuple(raw_fine_time[129])
#			raw_fine_time[0:128] <- kinpex0.clktdc$module.$edge_fine[0:128]
#			histogram raw_fine_time 18,-1,17
#		end
#	end
#	processor anl/clktdc$module/stddev eel.CLKTDCtest
#		leading[0:128]  <- cal/clktdc$module/leading.time_ps[0:128]
#		trailing[0:128] <- cal/clktdc$module/trailing.time_ps[0:128]
#	end
#
#	for $j in [0:127]
#		processor anl/clktdc$module/pulse_width_$j std.calc(dt=t2-t1) 
#			t1 <- cal/clktdc$module/leading.smooth_time_ps[$j]
#			t2 <- cal/clktdc$module/trailing.smooth_time_ps[$j]
#			histogram dt 100,0,41666   in pulse_width
#		end
#	end
#end
#
#processor daq/reftime std.calc(time=time_hi*28.6331153066667+time_lo/150e6)
#	time_hi <- kinpex0.clktdc0.trigger_time_hi
#	time_lo <- kinpex0.clktdc0.trigger_time_lo
#end
#############################

	processor febex/module4 std.tuple(trace[16],filter[16])
		trace[0:15]  <- kinpex0.febex4[0:15].trace
		filter[0:15] <- kinpex0.febex4[0:15].filter
		waveform  trace 200 persistent  in trace
		histogram trace 16384,0,16384   in resolution
	end


processor daq/rate std.tuple(time,events) 
	time <- event.time
	events <- event.number
	ratemeter events:time
end




