using std
using eel
#using ttree

crate kinpex1
	procid  100
	types    10
	subtypes  1
	controls  9

	#module wr1     std.single32bit
	#module wr2     std.single32bit
	#module wr3     std.single32bit
	#module wr4     std.single32bit
	#module wr5     std.single32bit

	module tamex1  eel.TAMEX

	hitpattern
end 

for $edge in leading trailing
	processor cal/tamex_$edge eel.TAMEXcal
		parameter do_calibration = 0
		     fine[0:31] <- kinpex1.tamex1[0:31].$edge_fine
		   coarse[0:31] <- kinpex1.tamex1[0:31].$edge_coarse
		epoch_cnt[0:31] <- kinpex1.tamex1[0:31].$edge_epoch_cnt
		histogram fine 1000,0,1000
		# histogram smooth_fine_ps:::smooth_fine_ps 300,0,5000:300,0,5000
		histogram fine_ps:::fine_ps 300,0,5000:300,0,5000
	end
end 

processor anl/twinpeaks eel.TwinPeaks
	leading_epoch[0:31]  <- cal/tamex_leading.epoch[0:31]
	leading_time[0:31]   <- cal/tamex_leading.smooth_time_ps[0:31]
	leading_stddev[0:31] <- cal/tamex_leading.sdev_ps[0:31]

	trailing_epoch[0:31]  <- cal/tamex_trailing.epoch[0:31]
#channel_idx >= 32
	
	trailing_time[0:31]   <- cal/tamex_trailing.smooth_time_ps[0:31]
	trailing_stddev[0:31] <- cal/tamex_trailing.sdev_ps[0:31]

	histogram fastToT      1000,0,3000000
	histogram linearToT    1000,0,3000000
	histogram fast_missing_edge_cases   4,1,5
	histogram linear_missing_edge_cases 4,1,5
end

processor event_rate std.pair 
	 first <- event.number
	second <- event.time
	ratemeter first:second
end


# processor my_tree/fine[32] ttree.DoubleArrayStatic
# 	value[0:31] <- cal/tamex_leading.smooth_fine_ps[0:31]
# end
